* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: black;
  min-height: 100vh; 
 }

 html {
  background-color: black;
  scroll-behavior: smooth;
 }

 .icons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 }